@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <nav class="bar">
        <h1>Home</h1>
        
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Sessions</a></li>
            <li><a href="#">Quizzes</a></li>
            <li><a href="#">Discussion Forum</a></li>
            <li><a href="#">Courses</a></li>


        </ul>
        
        
    </nav>
    
    <div class="home_image">
        <img src="css/Home_image.jpg" alt="Boy reading textbook" class="image-image" />
    </div>

    <div class="content">
        <div class="section">
            <h2>What We Offer</h2>
            <p>TEXT</p>
        </div>

        <div class="section">
            <h2>About Big John Tutoring</h2>
            <p>TEXT</p>
        </div>

        <div class="section">
            <h2>Make Learning Fun</h2>
            <p>TEXT</p>
        </div>
    </div>
</div>