@{
    ViewData["Title"] = "Home";
}

<div class="container">
    
    <div class="home_image">
        <img src="css/home_wide_image.jpg" alt="Boy reading textbook" class="image-image" />
    </div>

    <div class="content">
        <div class="section">
            <h2>What We Offer</h2>
            <p>TEXT</p>
        </div>

        <div class="section">
            <h2>About Big John Tutoring</h2>
            <p>TEXT</p>
        </div>

        <div class="section">
            <h2>Make Learning Fun</h2>
            <p>TEXT</p>
        </div>
    </div>
</div>