html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  margin: 0;
  background-color: #e6f2f1;
}

.navbar{
  background-color: #77c4b0 ;
}

.container-fluid {
  background-color: #77c4b0;
}

.highlight_1 {
  color: #ffffff;
}

.highlight {
  color: #8a77c4;
}

.nav-item {
  text-decoration: underline;
}

.container {
  width: 100%;
  margin: auto;
}

.bar {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  
  height: 100%;
  width: 180px;
  position: absolute;
  transition: 0.5s ease;
  box-shadow: 0 0 15px rgba(0,0,0,0.5)
}

.bar h1 {
  font-size: 18px;
  color: #77c4b0;
  font-weight: 200;
  text-align: right;
  padding: 10px 0;
  padding-right: 30px;
  pointer-events: none;
}

.bar ul li{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.bar ul li a {
    color: #77c4b0;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.bar ul li:hover a {
    color: #fffff;
    background-color: ##77c4b0;
}

.container input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fffff;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.3);*/
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #77c4b0;
    border-radius: 50px;
    transform: translate(-50%,-50%)
}

.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home_image {
  height: 300px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image-image {
  max-width: 100%;
  height: auto;
  border-radius: 0;
}

.content {
  background-color: #77c4b0;
  padding: 40px;
  margin-top: 20px;
  color: #000;
}

.section {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
}

.highlight {
  color: #8a77c4;
}

